[server]

[mysqld]
datadir = /var/lib/mysql
socket  = /run/mysqld/mysqld.sock
bind_address=*
port = 3306
user = mysql

pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql

[embedded]

[mariadb]

[mariadb-10.3]